<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="#">BUS BOOKING SYSTEM</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/createuser">SIGNUP</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/loginuser">LOGIN USER</a>
                    <a class="dropdown-item" routerLink="/loginadmin">LOGIN ADMIN</a>
                </div>
            </li>
        </ul>
      
    </div>
</nav>
<div class="jumbotron" style="background-color: black">
    <h1 class="display-4" style="color: aliceblue">Welcome To BusBooking System</h1>
    <p class="lead" style="color: aliceblue">Our Bus Booking System provides you the best Bus availability</p>
    <hr class="my-4">
    <p style="color: aliceblue">Bus Booking System is designed to automate the online ticket purchasing through an easy-to-use online bus booking system..
        Help your customers organize their trips and daily commutes more easily. Process bookings and payments online, manage your business more efficiently. Check the key features that come standard with the bus booking system
       </div>

<!-- <div class="btn-group col-md-12">
    <button type="button" class="btn btn-primary" routerLink="/searchbus">BOOK BUS</button>
  </div> -->