<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="#">BUS BOOKING SYSTEM</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/searchbus">Book BUS<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cancelticket">Cancel Ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/checkavailablity">Check Availibility</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/givefeedback">GIVE FEEDBACK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/getticket">GET TICKET</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/loginuser">LOGIN USER</a>
                    <a class="dropdown-item" routerLink="/loginadmin">LOGIN ADMIN</a>
                </div>
            </li> -->
        <!-- </ul>
      
    </div>
</nav> -->

<div class="col-md-2 float-left card card-body card-text">
    <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"><a class="nav-link" routerLink="/searchbus">Book BUS<span class="sr-only">(current)</span></a></div>
      
    </div>
    </button>
    <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
     <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"> <a class="nav-link" routerLink="/cancelticket">Cancel Ticket</a></div>
      
    </div> 
    </button>
    <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
       <div class="card-header"> <a class="nav-link" routerLink="/checkavailablity">Check Availibility</a></div>
       
     </div> 
     </button>
     <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
         <div class="card-header"> <a class="nav-link" routerLink="/givefeedback">GIVE FEEDBACK</a></div>
         
       </div> 
       </button>
       <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
         <div class="card-header"> <a class="nav-link" routerLink="/getticket">GET TICKET</a></div>
         
       </div> 
       </button>
     <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
       <div class="card-header"><a class="nav-item nav-link" routerLink="/">Logout</a></div>
       
     </div> 
     </button>
     </div>
     <div class="col-md-10 card card-body text-center">
        <h1 style="height: 90px; width : 100%; background:brown;">Welcome User To your Bus Booking System!...</h1>
        <h2 style="height: 90px; width : 100%; background:burlywood;">Please do your operation from the given buttons</h2>
     </div>
     